.FooterContainer {
  background-color: #002e25;
}
.FooterTop {
  display: flex;
  border-bottom: 1px solid grey;
  margin: 50px;
}

.FooterMiddle {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  margin-bottom: 50px;
}
.FooterTopLink {
  color: honeydew;
  text-decoration: none;
  padding-top: 10px;
  margin: 10px;
  line-height: 30px;
}
.FooterBottom {
  border-top: 1px solid grey;
  height: 100px;
  display: flex;
  align-items: center;
}
.FooterBottom > div > a {
  margin: 20px;
}
.FooterBottom > div > a:first-child {
  margin-left: 100px;
}
